
#newBugForm{
    background-color: white;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 86px;
    margin-bottom: 32px;
}

.datepicker{
    width: 100%;
    padding: 3px 6px;
    outline: none;
}

a{

    margin-right: 20%;
}

label{
    white-space: nowrap;
}

@media screen and (max-width: 576px){
    #newBugForm{
        padding: 36px 14px;
        border-radius: 4px;
    }
    .datepicker{
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
}